.add-button {
  width: 40%;
  height: 30px;
}

#title {
  height: 30px;
  width: 300px;
}

.remove-button {
  width: 25%;
  height: 25;
}

.container-v {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 10px;
}

.book-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}
